@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    var BaseImagePath = PortalAgent.CurrentPortal.MediaServerUrl;
    var CatBanner = Model.Attributes?.Value("CategoryBannerPLP");
    var catModel = ViewContext.Controller.ViewData.Model as Znode.Engine.WebStore.ViewModels.CategoryViewModel;
    var IsChillpackrCategory = catModel.Attributes.Value("IsChillpackrCategory") != null && catModel.Attributes.Value("IsChillpackrCategory") == "true";
    //Commented and disable Chillpackr implementation
    //IsChillpackrCategory = false;
}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="col">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container">@Html.RenderBlock(Model.BreadCrumbHtml)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <!--PLP Banner Code by Nivi-->
            @if (IsChillpackrCategory == false)
            {
                <div class="col-12 plp-cat-img-section text-center">
                    @if (CatBanner != null)
                    {
                        <img data-img="@(BaseImagePath+CatBanner)" src="@(BaseImagePath+CatBanner)" alt="@Model.CategoryName" class="img-fluid my-5" />
                        <h1 class="page-title plp-img-page-title" data-text-selector="hdnCategoryTitle">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                    }
                    else
                    {
                        <h1 class="page-title" data-text-selector="hdnCategoryTitle">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                    }

                </div>
            }
            else
            {

                if (CatBanner != null)
                {
                    <div class="col-12 text-center p-5 border-bottom">
                        <img data-img="@(BaseImagePath+CatBanner)" src="@(BaseImagePath+CatBanner)" alt="@Model.CategoryName" class="img-fluid" />
                    </div>
                }

                <div class="col-12 text-center">
                    <h1 class="page-title" data-text-selector="hdnCategoryTitle">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                </div>
            }

        </div>
    </div>

    <div class="row b2b-category-list">
        <div class="container">
            <div class="row">
                <div class="col-12 category-landing-container p-0">
                    <z-widget>@Html.WidgetPartialAuto("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                </div>
                @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
                {
                    if (!Helper.InfinityLoading)
                    {
                        <div class="col-12">
                            <div class="category-more text-center mt-4">

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mb-5">
                @if (IsChillpackrCategory == false) { 
                    <div id="facets" class="col-12 col-lg-12 margin-top-30 side-nav nav-right b2b-side-bar">
                        <div class="d-lg-none">
                            <div class="col-12 text-right nav-header">
                                <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
                                <div class="nav-label"><div class="cut-text"> Sort & Filter</div></div>
                            </div>
                        </div>
                        @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}

                    </div>
                  }
                <div class="col-12 col-lg-12">
                    @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                    @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
                    {
                        if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                        {
                            <div class="col-12">
                                <div class="category-more text-center mt-4">
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-12 margin-bottom-30 description-font-size">
                    <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "ShortDescription"))</p>
                </div>
                <div class="col-12 margin-bottom-30 description-font-size">
                    <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                </div>
                <div class="col-12 margin-bottom-30 description-font-size">
                    <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "AdditionalDescription"))</p>
                </div>
            </div>

            @if (IsChillpackrCategory)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-12 margin-top-50 text-center chillpackr-plp-bottom-banner1">
                            <!--ChillPack R PLP Banner 2-->
                            @Html.RenderMessage("ChillPackRPlpBottomBanner1")
                        </div>
                    </div>
                </div>

                <div class="container mb-5">
                    <div class="row">
                        <div class="col-12 col-sm-6 margin-top-50 chillpackr-plp-bottom-banner2">
                            <!--ChillPack R PLP Banner 3-->
                            @Html.RenderMessage("ChillPackRPlpBottomBanner2")
                        </div>
                        <div class="col-12 col-sm-6 margin-top-50 chillpackr-plp-bottom-banner3">
                            <!--ChillPack R PLP Banner 4-->
                            @Html.RenderMessage("ChillPackRPlpBottomBanner3")
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    <input type="hidden" value="0" id="parentCategoryId" />
</div>
<script async>
    $(window).on('load', function () {
        $("img").show();
    });
</script>